{% extends "base.html.twig" %}

{% block body %}
    <div class="container col-md-6 mt-5">
        <div class="row">
            <div class="col">
                <a href="{{path('product_detail', {'id':product.id}) }}"><img src="{{product.image}}" width="200" height = "200"></a>
            </div>
            <div class="col">
                <h1>{{product.name}}</h1>
                <h2>Price: ${{product.price}}</h2>
                <h2>Quantity: {{product.quantity}}</h2>
                <h2>Date: {{product.date | date('y/m/d')}}</h2>
                <h2>Description: {{product.description}}</h2>
                
            </div>
        </div>
    </div>
{% endblock %}